{
   "presets": ["env", "stage-2"],

   "plugins":
   [
      "add-module-exports",
      ["module-resolver", {
         "root": ["."],
         "alias":
         {
            "escomplex-plugin-metrics-module/src": "escomplex-plugin-metrics-module/dist",
            "escomplex-plugin-syntax-babylon/src": "escomplex-plugin-syntax-babylon/dist",
            "escomplex-plugin-syntax-estree/src": "escomplex-plugin-syntax-estree/dist",

            "typhonjs-ast-walker/src": "typhonjs-ast-walker/dist",
            "typhonjs-escomplex-commons/src": "typhonjs-escomplex-commons/dist",
            "typhonjs-plugin-manager/src": "typhonjs-plugin-manager/dist"
         }
      }],
      "transform-runtime"
   ],

   "env":
   {
      "escomplex-dev":
      {
         "plugins":
         [
            "add-module-exports",
            ["module-resolver", {
               "root": ["."],
               "cwd": "babelrc",
               "alias":
               {
                  "escomplex-plugin-metrics-module/src": "../escomplex-plugin-metrics-module/src",
                  "escomplex-plugin-syntax-babylon/src": "../escomplex-plugin-syntax-babylon/src",
                  "escomplex-plugin-syntax-estree/src": "../escomplex-plugin-syntax-estree/src",

                  "typhonjs-escomplex-commons/src": "../typhonjs-escomplex-commons/src"
               }
            }],
            "transform-runtime"
         ]
      }
   }
}
